.mozilla/*
Bitwarden/*
Element/*
GIMP/*
Kitware/*
QtProject.conf
Signal/*
Vial/*
autostart/*
bolt-launcher/*
btop/*
cava/*
dconf/*
discord/*
freerdp/*
go/*
htop/*
obsidian/*
pavucontrol.ini
pulse/*
pypoetry/*
remmina/*
spicetify/*
spotify/*
systemd/*
uwsm/*
nvim/.gitignore
LICENSE
README.md
nvim/lua/plugins/example.lua
lazygit/*
.current_wall
mimeapps.list
Vencord/*
*.private
*.bak
libreoffice/*
google-chrome/*
.avalonia-build-tasks/*
