* {
  border: none;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16px;
  min-height: 20px;
  margin: 0px;
}

window#waybar {
  background: transparent;
  border-radius: 12px;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  margin: 0px 14px 0px 14px;
  transition: none;
}

#workspaces button {
  transition: none;
  color: #ebdbb2 ;
}

#workspaces button.active {
  color: #fe8019;
  
}

#workspaces button:hover {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  color: #fe8019;
}

#network {
  margin: 0px 28px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#wireplumber {
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#bluetooth {
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#battery {
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#battery.critical:not(.charging) {
  color: #ebdbb2;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#custom-dunst {
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#cpu {
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#custom-launcher {
  font-size: 40px;
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#custom-launcher:hover {
  color: #fe8019;
}

#custom-media {
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#mpris {
  margin: 0px 14px 0px 14px;
  transition: none;
  color: #ebdbb2;
}

#cava {
  margin: 0px 14px 0px 14px;
  color: #ebdbb2;
}
