.powermenu-closer {
  background-color: rgba($gruvbox-bg0, 0);
}

.powermenu {
  padding: 24px;
  background-color: rgba($gruvbox-bg0, .9);
  border-radius: 24px;
}

.powermenu button {
  border-radius: 12px;
  &.poweroff:hover {
    background-color: $gruvbox-orange-light;
  }
  &.lock:hover {
    background-color: $gruvbox-green-light;
  }
  &.launcher:hover {
    background-color: $gruvbox-yellow-light;
  }
}
