// .powermenu-closer {
//   background-color: rgba($gruvbox-bg0, 0.1);
// }

.powermenu {
  padding: 12px;
  background-color: rgba($gruvbox-bg0, 0);
  border-radius: 24px;
}

.powermenu-box {
  background-color: $gruvbox-bg;
  padding: 25px;
}

.powermenu button {
  border-radius: 12px;
  &.poweroff:hover {
    background-color: $gruvbox-orange-light;
  }
  &.lock:hover {
    background-color: $gruvbox-green-light;
  }
  &.launcher:hover {
    background-color: $gruvbox-yellow-light;
  }
}
