progressbar trough {
	background-color: $gruvbox-fg;
	border-radius: 12px;
	min-height: 20px;
	min-width: 300px;
}

progressbar trough progress {
	background-color: $gruvbox-orange-light;
	border-radius: 12px;
	min-height: 20px;
}

.volume_widget {
  background-color: $gruvbox-bg;
  padding: 18px 22px 18px 22px;
  border-radius: 64px;
}
